@{
   ViewBag.Title = "Index";
   //Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>All ClassName</h2>
<div class="float-r">
   <button style="font-size:20px;" title="Add Customers" id="btnModal"
           data-toggle="modal" data-target="#MyModal">
      @*<i class="fa fa-plus"></i>*@
      Add<br />
   </button>
</div>
<table class="table table-bordered" id="tble">

   <thead>
      <tr>
         <td>CustomerName</td>
         <td>PurchasesProduct</td>
         <td>PaymentType</td>
         <td>Edit</td>
         <td>Delete</td>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>

<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-group">
               <label>ID</label>
               <input type="number" id="txtId" hidden />
               <label>CustomerName</label>
               <input type="text" class="form-control" id="txtCustomerName" />
            </div>
            <div class="form-group">
               <label>PurchasesProduct</label>
               <input type="text" class="form-control" id="txtPurchasesProduct" />
            </div>
            <div class="form-group">
               <label>PaymentType</label>
               <input type="text" class="form-control" id="txtPaymentType" />
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
            <button type="button" class="btn btn-primary" onclick="Update()" id="btnUpdate">Update changes</button>

         </div>
      </div>
   </div>
</div>
@section scripts{
   <script src="~/js/site.js"></script>
}